@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #107aca;
  --font-montserrat: "Montserrat", sans-serif; /* bold */
  --font-roboto: "Roboto", sans-serif; /* regular & bold */
  --color-yellow: #ffcb58;
  --color-blue-dark: #0f294a;
  --color-primary-light-blue: #1f7bc0;
  --color-berryblush: #f0537a;
  --color-honeywell: #ffcb58;
  --color-gray-light: #edf7ff;
  --text-tiny: 0.625rem;
}

body {
  @apply font-montserrat bg-[linear-gradient(to_bottom,_#a0d2f8,_#e7f4fd)] p-3 min-h-dvh;
}

main {
  @apply pb-24;
}

.big-title {
  @apply text-2xl font-bold text-black;
}

.md-title {
  @apply text-lg font-bold;
}

.blue-text {
  @apply text-brand;
}

.blue-button {
  @apply p-3 rounded-2xl text-blue-dark border-blue-dark   font-bold  border-2;
}

.navText {
  @apply text-tiny font-semibold text-blue-dark text-center;
}

.after {
  @apply after:w-3/4 after:h-0.5 after:bg-blue-dark after:rounded-full after:absolute after:left-1/2 after:-translate-x-1/2 after:-bottom-1;
}
