@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #107aca;
  --font-title: "Montserrat", sans-serif; /* bold */
  --font-body: "Roboto", sans-serif; /* regular & bold */
  --color-yellow : #FFCB58;
  --color-blue-dark : #0F294A;
  --color-gray-light : #EDF7FF;
  --breakpoint-xs : 350px;

}





.color-bg {
  background: linear-gradient(to bottom, #A0D2F8, #E7F4FD);

}


body {
  @apply  font-body ;
}



.big-title{
@apply xs:text-2xl  font-bold text-blue-dark ;

}



.md-title {
  @apply   font-bold xs:text-2xl  text-sm ;

}

.blue-text{
@apply    text-brand   text-xs xs:text-sm  truncate   ;

}

.empty-button {
  @apply p-3 rounded-2xl text-blue-dark border-blue-dark   font-bold  border-2  text-sm  ;

}


.blue-button {
  @apply p-5 bg-blue-dark text-white font-bold rounded-2xl  text-sm
}



