@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #107aca;
  --font-montserrat: "Montserrat", sans-serif; /* bold */
  --font-roboto: "Roboto", sans-serif; /* regular & bold */
  --color-yellow: #ffcb58;
  --color-blue-dark: #0f294a;
  --color-primary-light-blue: #1f7bc0;
  --color-berryblush: #ff4773;
  --color-honeywell: #ffcd4d;
  --text-tiny: 0.625rem;
}

body {
  @apply font-montserrat bg-[linear-gradient(to_bottom,_#a0d2f8,_#e7f4fd)] min-h-screen p-3 pb-24;
}

.big-title {
  @apply text-3xl font-bold text-black;
}

.md-title {
  @apply text-xl font-bold;
}

.blue-text {
  @apply text-brand;
}

.blue-button {
  @apply p-3 rounded-2xl text-blue-dark border-blue-dark   font-bold  border-2;
}

.navText {
  @apply text-tiny font-semibold text-blue-dark text-center;
}
